.login-container {
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px 40px;
}

.label-login-form {
  font-weight: 500;
}

.title-login {
  color: #526278;
}

.btn-login {
  background-color: #526278;
  color: white;
}

.btn-login:enabled:hover {
  background-color: #48576a;
}
