.resource-container {
  background-color: #eee;
  border-radius: 8px;
  padding: 10px;
}

.resource-img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 4px;
}

.resource-title {
  font-size: 15px;
  font-weight: 500;
}

.resource-description {
  font-size: 14px;
}

.link {
  font-size: 14px;
}