.resources-container {
  background-color: #f8f8f8;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.favorites-container, .others-container {
  background-color: #526278;
  color: #fefefe;
  font-size: 13px;
  font-weight: 500;
  padding: 2px 10px;
}
