.resources-container {
  background-color: #f8f8f8;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.resources-header {
  margin-bottom: 10px;
}

.resources-title {
  font-size: 18px;
  font-weight: 500;
}

.icon-add {
  color: #526278;
  cursor: pointer;
  font-size: 22px;
  margin: 0 4px;
}

.icon-filter {
  color: #526278;
  cursor: pointer;
  font-size: 20px;
}

.icon-add:hover i::before {
  color: #48576a;
}

.icon-filter:hover i::before {
  color: #48576a;
}

.favorites-container, .others-container {
  background-color: #526278;
  color: #fefefe;
  font-size: 13px;
  font-weight: 500;
  padding: 2px 10px;
}
