.form-container {
  background-color: #eee;
  border-radius: 8px;
  padding: 10px;
}

.btn-form-primary {
  background-color: #526278;
  color: white;
  margin-left: 4px;
}

.btn-form-primary:enabled:hover {
  background-color: #48576a;
}
